.App {
  text-align: center;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgba(17, 1, 1, 0.459);
  height: 20%;

}

.tabs{
  padding: 3px;
  border-right: solid black 1px;
  border-left: solid black 1px;
  background-color: rgba(245, 16, 8, 0.719);
  color: black;
  font-size: large;
}


.charWhole{
  display: flex;
  justify-content: space-around;
  background-color: rgba(7, 7, 7, 0.472);
}

.char{
  padding: 3px;
  border-right: solid black 1px;
  border-left: solid black 1px;
  background-color: rgba(8, 245, 225, 0.829);
  color: black;
  font-size: large;
}

.wholeResults{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.results{
  border: solid rgba(0, 0, 0, 0.219);
  margin: 2px;
  width: 20%;
}