.App {
  text-align: center;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgba(17, 1, 1, 0.459);
  height: 20%;

}

.tabs{
  padding: 3px;
  border-right: solid black 1px;
  border-left: solid black 1px;
  background-color: rgba(245, 16, 8, 0.719);
  color: black;
  font-size: large;
}